--extra-index-url https://download.pytorch.org/whl/cu117
--find-links https://download.openmmlab.com/mmcv/dist/cu117/torch1.13.0/index.html

torch==1.13.1+cu117
torchvision==0.14.1+cu117
mmcv-full==1.7.0
pytorch-lightning==1.9.5
numpy==1.26.4
scipy==1.14.0
pandas==2.3.2
opencv-python<4.12
Pillow
matplotlib==3.9.0
timm==0.9.2
easydict==1.13
tensorboard==2.20.0
tqdm==4.67.1
PyYAML==6.0.2
